
h2{
    background-color: rgba(233, 236, 235, 0.801);
    color: #4e504f;
    text-align: center;
}
body {
	background-image: url("img/fondo.jpg");
    background-attachment: scroll;
    
}
form {
    text-align: center; 
    background-color:  rgba(233, 236, 235, 0.801);
    float: right;
    color: #4e504f;
    padding: 5%;
    opacity: 0.9;
}

#resultat {
    text-align: center; 
    background-color:  rgba(233, 236, 235, 0.801);
    float: none;
    color: #4e504f;
    padding: 5%;
    opacity: 0.9;
    font-weight: bold;
}

input {
    text-align: center;
}
.copyrihgt
{
	background-color:rgba(233, 236, 235, 0.801);
}